<h2>Sign up and start structuring your next big Sinatra Project</h2>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/signup" method="POST">

  <input type="first_name" name="user[first_name]" id="first_name" placeholder="First Name">

  <input type="last_name" name="user[last_name]" id="last_name" placeholder="Last Name">

  <input type="email" name="user[email]" id="email" placeholder="Email...">

  <input type="password" name="user[password]" id="password" placeholder="Password">

  <input type="submit" value="Create Account" id="Submit">
</form>

<br><br>

<label>Already have an account? </label><a href="/login">Log In</a>
