<h1>Hi <%=@user.first_name%></h1>
<table>
  <tr>
    <th><h3>Project(s)</h3></th>
    <th><h3>Date Created</h3></th>
  </tr>

  <%user_projects(@projects).each do |project|%>
    <tr>
    <td><h3><%=project.name%></h3></td>
    <td><h3><%=project.date_created%></h3></td>
    </tr>
  <%end%>

</table>

<a href="/logout"><h5>Log Out</h5></a>
