<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-container">
        <h3 class="form-group">Please enter the name of your project and the names of your models(singular form).</h3>
        <form action="/projects" method="POST">

          <div class="form-group">
            <input type="text" class="form-control" name="project_name" id="name" placeholder="Project Name">
          </div>

          <%@num_of_models.times do |i|%>
            <div class="form-group">
              <input type="text" class="form-control" name="models[model_<%=i+1%>_name]" id="model_names" placeholder="Model <%=i+1%> name">
            </div>
          <%end%>

          <div class="form-group">
            <input type="text" class="form-control" name="description" id="description" placeholder="Description">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" id="Continue">Create Project</button>
          </div>
        </form>
    </div>
  </div>
  </div>
</div>
