<div class="project-form-container">
  <div class="project-form-content">
    <h3 class="form-group">Please enter the name of your project, the name of your models (singular form), and a description about the project.</h3>
    <!-- form for user to input the name of the project, model(s), and description-->
    <form action="/projects" method="POST">

      <div class="form-group">
        <input type="text" class="form-control" name="project_name" id="name" placeholder="Project's Name">
      </div>
      <!-- loop based on number of the user's selection-->
      <%@num_of_models.times do |i|%>
        <div class="form-group">
          <input type="text" class="form-control" name="models[model_<%=i+1%>_name]" id="model_names" placeholder="Model <%=i+1%>'s name">
        </div>
      <%end%>

      <div class="form-group">
        <input type="text" class="form-control" name="description" id="description" placeholder="Description" maxlength="75">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" id="Continue">Create Project</button>
      </div>
    </form>
  </div>
</div>
