<h1>Please select the number of models you will be using.</h1>

<form action="/projects/new/models-names" method="POST">
  <select name="num_of_models">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <input type="submit">
  </select>
</form>
