<h1>Sinix</h1>
<h2>Where developers structured their next big Sinatra Project</h2>

  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

<form action="/login" method="POST">

  <label for="email">Email </label>
  <input type="email" name="email" id="email">

  <label for="password">Password </label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Log In" id="Submit">
</form>

<br><br>
<label>Don't have an account? </label><a href="/signup">Sign Up</a>
